*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img{
    width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-links li a{
    color: hsl(0, 0%, 48%);
    text-decoration: none;
}

#top-section, .mid-section{
    width: 100%;
    padding: 20px;
}

.hero-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    gap: 10px;
}


h2{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

#text h2{
    margin-bottom: 20px;
}

#top-form{
    margin-top: 15px;
}

#image-container img{
    width: 100%;
    max-width: 700px;
    padding-left: 120px;
}

#top-form input{
    background-color: rgb(205, 248, 222);
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

input, button{
    padding: 8px;
    border: none;
    box-sizing: border-box;
}

button{
    background: hsl(224, 93%, 58%);
    border-radius: 3px;
    color: #fff;
}

button:hover{
    cursor: pointer;
}

.mid-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container2 img{
    width: 100%;
    max-width: 400px;
}

.info{
    width: 68%;
    line-height: 1.5;
}

.info p{
    margin-bottom: 10px;
}

.info a{
    color: hsl(170, 45%, 43%);
}

.card{
    width: 100%;
    max-width: 300px;
    height: auto;
    box-shadow: 4px 0px 10px #888888;;
    font-size: small;
    margin-top: 20px;
    border-radius: 3px;
}

#card-info {
    padding: 10px;
    line-height: 1.7em;
}

#card-info #call, #profile-image{
    padding-left: 10px;
    margin: 8px;
}

#profile-image img{
    border-radius: 50%;
    width: 30px;
}

.profile-info{
    display: flex;
    margin: 0;
}

#name{
    font-weight: bolder;
}

.content{
    display: flex;
    color: #fff;
}

.content h2{
    margin-bottom: 15px;
}


#sign-up{
    background-color: hsl(238, 22%, 44%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.bottom-hero{
    width: 40%;
    margin-right: 20%;
}

#register-form{
    margin-left: 5%;
}


#register-form input{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

#smade{
    background-color: hsl(243, 87%, 12%);
    color: #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
}

#logo{
    padding-top: 20px;
    margin-bottom: 10px;
    width: 100px;
}

#smade ul {
    list-style: none;
}

#smade ul li{
    margin-bottom: 10px;
}

.social{
    margin-right: 10px;
}

.social a{
    color: #fff;
}

.social a:hover{
    color: hsl(239, 40%, 53%);
}

.container{
    display:flex;
    justify-content: space-between;
}

#more li a, #contact li a{
    text-decoration: none;
}


#more li a:hover{
    cursor: pointer;
    color:  hsl(239, 40%, 53%);   
}

#contact li a:hover{
    color: hsl(239, 40%, 53%);
}

#more li a, #contact li a:visited{
      color: white;
}


.comm li i{
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    #top-section,
    .mid-section {
        padding: 10px;
    }

    .hero-div {
        width: 100%;
        padding: 10px;
    }

    #image-container img,
    #image-container2 img {
        padding-left: 0;
    }

    #sign-up,
    .bottom-hero {
        width: 100%;
        padding: 10px;
    }

    #register-form {
        margin-left: 0;
    }
}